<script id="tmpl-Card" type="text/html">
    <div class="Card {{if transparent}}transparent{{/if}}">
    	<div class="card-content">
	    	<div class="card-bg-content">
	    		<div class="card-center"></div>
	    	</div>
	    	<div class="card-fg-content">
	    	{{if card}}
	    		<span class="number" style="color:{{:card.colorValue}}">
	    		{{:card.number}}
	    		</span>
	    		<span class="color" style="color:{{:card.colorValue}}">
	    		{{:card.color}}
	    		</span>
	    	{{/if}}
	    	</div>
    	</div>
    </div>
</script>
