<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
    	<canvas width="0" height="0" class="baseCanvas"/>
    	<div class="poker"></div>
    	<div class="mainScreen-top">
    		<button class="btn btnGo">Click Me</button>
    	</div>
    	<div class="mainScreen-content">
    	</div>
    </div>
</script>
