<script id="tmpl-Table" type="text/html">
    <div class="Table">
    	<div class="table-content">
	    	<div class="table-center">
	    		<div class="player player1"></div>
	    		<div class="player player2"></div>
	    		<div class="winMessage">
	    			<span class="who"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Win!!</span>
	    		</div>
	    	</div>
    	</div>
    </div>
</script>
